    *,body{
        --bs-body-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 0;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        scroll-behavior: smooth;
    }
    body{
        background-color: #191F26;
        color: white;
    }
    #exampleModalLabel{
        color: black;
    }
    p{
        color: yellow;
        bottom: 100px;
        position: relative;
    }
    h2{
        font-family: 'Roboto Slab', serif;
        color: #ffffff;
        padding-top: 0px;
        text-align: center;
        min-width: 25%;
        font-size: 42px;
        margin-top: 20px;
        margin-bottom: 60px;    
    }
    input{
        text-align: center;
        padding: 5px;
        color: yellow;
        box-sizing: 20px;
        border-radius: 10px;
        width: 15%;
        background-color: #37262681;
    }
    ::placeholder{
        color: yellow;
    }
    tr,th,abbr{
        min-width: 25%;
        color: white;
        text-decoration: none;
        transition: 0.5s;
    }
   .table-responsive {
        transition: 1s;
        margin-top: 70px;
    }
    .botao {
        position: absolute;
        width: 100%;
        transform: translate(-50, -50%);
        text-align: center;
        margin-right: 20px;
        margin-top: 70px;
        color: #191F26;
      } 
      input[type="checkbox"] {
        position: relative;
        top: 8px;
        width: 25px;
        height: 25px;
        -webkit-appearance: none;
        outline: none;
        background-color: #191F26;
        transition: 0.5s;
      }
      input[type="checkbox"]:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 4px solid #262626;
        box-sizing: border-box;
        transition: 0.5s;
      }
      
      input:checked[type="checkbox"]:before {
        border-left: none;
        border-top: none;
        width: 11px;
        border-color: rgb(24, 196, 24);
        transform: rotate(45deg) translate(5px, -10px);
      }
   option{
    background-color:rgba(255, 228, 196, 0.773);
    color: rgb(0, 0, 0);
    transition: all .5s linear;
   }
   #listaSuspensa{
    color: black;
    background-color: white;
    padding: 10px 6px;
    border-radius: 9%;
    border-radius: 9%;
    transition: all .3s linear;
    margin-top: 10px;
    letter-spacing: 2px;
    border-radius: 15px;
    padding-left: 5px;
    min-width: 25px;
        min-height: 25px;
        margin-right: 15px;
        margin-left: 20px;
   }
   #listaSuspensa:hover{
    background: bisque;
   }
.carde{
    width: 30%;
    background-color: rgba(255, 228, 196, 0.305);
    color: black;
    height: 16rem;
    display: flex;
    position: relative;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    transition: box-shadow .3s ease, transform .2s ease;
    margin: 0 auto;
    align-items: center;
    display: flex;
    cursor: default;
   }
   .card-info {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
  }
   .card-social {
    display: flex;
    justify-content: space-around;
    transition: transform .2s ease, opacity .2s ease;
   }  
   .card-social__item {
    list-style: none;
  }
  .card-social__item svg {
    height: 45px;
    width: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 60px;
    margin-left: 50px;
    fill: #3b0707;
    cursor: pointer;
    transition: fill 0.2s ease ,transform 0.2s ease;
   }
   .card-title {
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    font-style: bold;
    font-weight: 700;
    line-height: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   #botaoCalcular {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-right: 70px;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   #botaoCalcular::before, #botaoCalcular::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   #botaoCalcular::before {
    top: -1em;
    left: -1em;
   }
   
   #botaoCalcular::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   #botaoCalcular:hover::before, #botaoCalcular:hover::after {
    height: 410px;
    width: 410px;
   }
   
   #botaoCalcular:hover {
    color: rgb(10, 25, 30);
   }
   
   #botaoCalcular:active {
    filter: brightness(.8);
   }
   
   .card-subtitle,.card-subtitle-developer {
    color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
   }
   .carde:hover {
    box-shadow: 2px 7px 9px 7px #44035833;
    transition: 0.5s;
   }
   .card-social__item svg:hover {
    fill: #fbff00;
    transform: scale(1.1);
   }
  
   .card-avatar-image:hover {
    transform: scale(1.2);
   }
   #portifolio{
    margin-bottom: 20px;
    margin-top: 200px;
    top: 80px;
    left: 90px;
    z-index: 1;
    background-color: #3b0707;
    position: relative;
    fill: #3b0707;
    transition: fill 0.2s ease ,transform 0.2s ease;
    }
    #portifolio:hover{
        background-color: yellow;
        color: black;
        transform: scale(1.1);
        box-shadow: 2px 7px 9px 7px #44035833;
        transition: 0.5s;
    }
   
@media only screen and (max-width: 680px){
    a{
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding-right: 100px;
    }
    
    .card-title{
        font-size: 36px;
        text-align: center;
        margin-top: 20px;
        width: 180%;
    }
    .card-subtitle-developer, .card-subtitle{
        font-size: 16px;
        margin-top: 40px;
    }
    .carde{
        flex-direction: column;
        width: 90%;
        height: 30%;
    }
    .card-social__item svg {
        width: auto;
        margin: 0 auto;
        height: auto;
    }
}
@media only screen and (max-width: 1300px){
    .carde{
        width: 80%;
        height: 100%;
    }
    .card-social__item{
        flex-direction: column;
    }
    input{
        width: 40%;
    }
}
@media only screen and (max-width: 500px){
    footer,a{
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 50px;
    }  
    input{
        width: 100%;
        height: 20%;
    }
    #textoValor,
    #textoEntrada,
    #textoTaxaJuros,
    #textoPrazo{
        font-size: 14px;
    }
    #botaoCalcular{
        margin: 0 auto;
    }
    tr{
        font-size: 10px;
    }
    #botaoCalcular{
        font-size: 14px;
    }
    #listaSuspensa{
        font-size: 10px;
        width: 30%;
    }
    .card-social {
    flex-direction: row;
    height: 100px;
    margin-top: 0px;
    top: 65px;
    left: 30px;
    position: relative;
    }
    .carde{
        height: 100%;
        width: 100%;

    }
    .card-title{
        font-size: 24px;
        width: 222%;
    }
    .card-subtitle{
        font-size: 16px;
        margin-top: 40px;
        width: 300%;
    }
    .card-social__item {
        list-style: none;
        margin: -55px;
    }
    #portifolio{
        left: 0;
    }
    ::placeholder{
        color: black;
    }
    input{
        color: black;
        background-color: bisque;
    }
    #botaoCalcular{
        margin-right: 20px;
    }
    img{
        width: 500px;
        height: 400px;
        margin-left: -60px;
        align-items: center;
        display: flex;
        position: relative;
    }
    p{
        position: relative;
        margin-left: 100px;
        font-style: italic;
        bottom: 100px;
        color: yellow;
    }

    @media only screen and (min-width: 420px){
        p{
            position: relative;
            margin-left: 1000px;
            font-style: italic;
            bottom: 100px;
            color: yellow;
        } 
    }
    @media only screen and (min-width: 365px){
        p{
            position: relative;
            margin: 0 auto;
            font-style: italic;
            bottom: 100px;
            color: yellow;
        } 
    }
}
